* {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.icon-menu {
  font-size: 3.1em;
  float: right;
  display: block;
}

h1 {
  font-size: 60px;
  float: left;
  width: 100%;
}

#welcome {
  width: 100%;
  height: 100%;
  display: block;
  float: left;
  text-align: center;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  line-height: 2.0;
}

.icon-menu {
  font-size: 3em;
  float: right;
}

.main-nav {
  padding: 0.1em;
}

.main-nav ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}

.main-nav:hover ul {
  display: block;
}

.main-nav li {
  margin-right: .4em;
  font-size: 1em;
  padding: .2em .2em;
  border-bottom: 1px solid #ccc;
}

.schoolImage {
  max-width: 70%;
}

@media only screen and (min-width: 640px) {

  .icon-menu {
    display: none;
  }

  .main-nav {
    padding: .2em .2em .2em 2em;
  }

  .main-nav ul {
    display: block;
  }

  .main-nav ul li {
    display: inline;
    border-bottom: none;
  }

  .main-nav ul li:mouseover a {
    color: #29506D;
  }

  img {
    float: none;
  }
}

.template {
  display: none;
}

.clearfix {
  margin-bottom: 20px;
}
