body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  margin: auto;
  padding-left: auto;
  padding-right: auto;
}

#welcome{
width: 100%;
height: 100%;
}

.main-nav {
  padding: 0;
  display:block;
  text-align: center;
}

#welcome h1 {
  font-family: 'Kaushan Script', cursive;
  font-size: 80px;
}

#opening-statement {
  display: block;
}

#myHomePicture {
  width: 50%;
  height: 100%;
}

em {
  font-weight: 700;
  font-size: 30px;
}

#uw {
  height: 300px;
  width: 350px;
  margin: 50px;
}

#codeFellows {
  height: 80px;
  width: 300px;
  margin: 50px;
}

#cherryBlossoms {
  height: 350px;
  width: 300px;
}

#tulips, #olympicFarmGame, #carkeek {
  height: 300px;
  width: 400px;
}
